<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Của bé Chi</title>
    <link rel="stylesheet" href="css/valentine.css" />
    <link rel="icon" href="/images/favicon.jpg" type="image/x-icon" />
    <style>
      .suggestText {
        padding: 12px;
        font-size: 18px;
        background-color: #e9b8a9;
        border-radius: 12px;
      }
    </style>
  </head>
  <body>
    <div class="index">
      <div id="valentineQuestion">
        <b>Xin cảm ơn em bé 😘</b>
        <b></b>
      </div>
      <br />
      <img
        src="/images/chi_thanks.jpg"
        alt=""
        class="responsive thumb_img"
      /><br />
      <h2>Chúc em bé có 1 ngày vui vẻ ạ ❤</h2>
    </div>
  </body>
</html>
